<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Executive Drive</title>
</head>
<body>

    <div class="container">
        <div class="container__form container--signup">
            <form action="/auth/register" method="POST" class="form" id="form1">
                <h2 class="form__title">Cadastre-se</h2>
                <input type="text" name="username" placeholder="Usuário" class="input" required>
                <input type="email" name="email" placeholder="Email" class="input" required>
                <input type="password" name="password" placeholder="Senha" class="input" required>
                <button type="submit" class="btn">Cadastre-se</button>
            </form>
        </div>

        <div class="container__form container--signin">
            <form action="/auth/login" method="POST" class="form" id="form2">
                <h2 class="form__title">Entrar</h2>
                <input type="email" name="email" placeholder="Email" class="input" required>
                <input type="password" name="password" placeholder="Senha" class="input" required>
                <a href="#" class="link">Esqueceu sua senha?</a>
                <button type="submit" class="btn">Entrar</button>
            </form>
        </div>

        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Entrar</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
